mule-ssl-project/target/classes/mule-ssl-project.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:tls="http://www.mulesoft.org/schema/mule/tls" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/tls http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd">
    <http:listener-config name="Server_HTTPS_Listener_Configuration_8083" protocol="HTTPS" host="0.0.0.0" port="8083" doc:name="HTTP Listener Configuration">
        <tls:context>
            <tls:key-store type="jks" path="server/serverKeyStore.jks" alias="selfsigned" keyPassword="password" password="password"/>
        </tls:context>
    </http:listener-config>
    <http:listener-config name="Client_HTTP_Listener_Configuration_8084" host="0.0.0.0" port="8084" doc:name="HTTP Listener Configuration"/>
    <http:request-config name="Server_HTTPS_Request_Configuration_8083" protocol="HTTPS" host="localhost" port="8083" doc:name="HTTP Request Configuration">
        <tls:context>
            <tls:trust-store path="server/serverTrustStore.jks" password="password" type="jks"/>
        </tls:context>
    </http:request-config>
    <flow name="mule-ssl-projectFlow">
        <http:listener config-ref="Server_HTTPS_Listener_Configuration_8083" path="/server" allowedMethods="GET" doc:name="Server HTTPS Listener"/>
        <set-payload value="#['Server--&gt; Received request']" doc:name="Set Payload"/>
    </flow>
    <flow name="mule-ssl-clientFlow">
        <http:listener config-ref="Client_HTTP_Listener_Configuration_8084" path="/client" allowedMethods="GET" doc:name="Client HTTP Listener"/>
        <http:request config-ref="Server_HTTPS_Request_Configuration_8083" path="/server" method="GET" doc:name="Invoke ServerVia_HTTP_8083"/>
    </flow>
</mule>
